node_modules/
**/node_modules/
dist/
build/
.env
.env.local
.env.*.local
uploads/
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
/.idea/
/.history/
/*.log
coverage/
.cache/
docker-compose.override.yml
nginx/certs/
